<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="Nombre"/>
        <input type="password" placeholder="Contraseña"/>
        <input type="text" placeholder="Correo Electronico"/>
        <button>create</button>
        <p class="message">Ya eres Voluntario? <a >Iniciar Sesion</a></p>
      </form>
      <form class="login-form" (submit)="onLogin()">
        <input type="text" [(ngModel)]="email" name="email" placeholder="Correo Electronico"/>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña"/>
        <button type="submit">Iniciar Sesion</button>
        <!-- ... -->
    </form>
    <p class="message">Quieres registrarte? <a routerLink="/registro" >Registrate</a></p>

    
    </div>
  </div>