
 <!--  BEGIN NAVBAR  -->
 <div class="header-container">
    <header class="header navbar navbar-expand-sm expand-header header-container">
        <nav id="sidebar">

            <div class="navbar-nav theme-brand flex-row  text-center">
                <div class="nav-logo">
                    <div class="nav-item theme-logo">
                        <a href="index.html">
                            <img src="../../src/assets/img/logo.svg" class="navbar-logo" alt="logo">
                        </a>
                    </div>
                    <div class="nav-item theme-text">
                        <a href="index.html" class="nav-link"> CORK </a>
                    </div>
                </div>
                <div class="nav-item sidebar-toggle">
                    <div class="btn-toggle sidebarCollapse">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
                    </div>
                </div>
            </div>

            <ul class="list-unstyled menu-categories" id="accordionExample">
                
                <li class="menu">
                    <a href="#objetivo" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <span>Objetivo</span>
                        </div>
                    </a>
                </li>
                
                <li class="menu">
                    <a href="#voluntarios" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <span>Voluntarios</span>
                        </div>
                    </a>
                </li>
                
                <li class="menu">
                    <a href="#cedulas" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <span>Cedulas</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a href="#censo" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <span>Censo</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a href="#testigos" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <span>Testigos</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a href="#conteo" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <span>Conteo</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a href="#auditoria" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <span>Auditoria</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a href="#pruebas" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <span>Pruebas</span>
                        </div>
                    </a>
                </li>
                <li class="menu">
                    <a href="#judicializacion" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <span>Judicialización</span>
                        </div>
                    </a>
                </li>
            </ul>
            
        </nav>
    </header>
</div>
<!--  END NAVBAR  -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container " id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">
        
       

    </div>
    <!--  END SIDEBAR  -->
    
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="wrapper">
        <div class="cp-seo-banner-responsive" role="img" aria-label="Burberry">
        </div>
        <div class="layout-px-spacing">

            <div class="middle-content">



                <div class="row layout-top-spacing">
                    
                    <div class="col-md-12">
                      <div class="row layout-top-spacing layout-spacing">
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4 mx-auto" id="objetivo">
                            <div class="single-post-content ">
                              <div class="cardw">
                                <div class="card-contentw">
                                    <h1 class="card-titlew">Objetivo de la Fundación</h1>
                                    <div class="card-textw">
                                        <p>La Fundación Transparencia Electoral fte.com.co, tiene como objetivo principal combatir la corrupción en las elecciones a nivel local y nacional mediante la creación, desarrollo e implementación de herramientas y procesos que involucren activamente a la ciudadanía, sin importar su filiación política en búsqueda de elecciones libres y transparentes.</p>

<p>Al promover y fomentar la participación ciudadana, la Fundación Transparencia Electoral fte.com.co  aspira a prevenir y erradicar cualquier forma de corrupción que pueda afectar el desarrollo y la legitimidad del proceso electoral.</p>

<p>Además, la Fundación Transparencia Electoral fte.com.co aboga por una visión inclusiva y pluralista, donde todos los ciudadanos, independientemente de su filiación política, se unan en el objetivo común de garantizar elecciones libres, justas y transparentes en Colombia.</p>

<p>Su trabajo se basa en la creencia de que solo a través de una participación activa y una auditoría electoral rigurosa, se puede garantizar la integridad del sistema político y la legitimidad de sus representantes.</p>

                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="card-footer px-4 pt-0 border-0">
                              <br>
                            </div>
                            
                                <div class="post-content">
                                    <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-8 mx-auto layout-spacing " id="voluntarios">
                                      <div class="row"> 
                                        <div class="card">
                                          <div class="card-body d-flex align-items-center">
                                            <div class="image-container mr-md-3 mb-3 mb-md-0">
                                              <img src="../assets/img/vol_civicos.png" alt="Imagen Voluntarios Cívicos">
                                            </div>
                                            <div class="text-container">
                                              <h5 class="card-title mb-3">Voluntarios Cívicos</h5>
                                              <p class="card-text">Hágase Voluntario Cívico y participe activamente en el proceso electoral. Con la ayuda activa de todos, podremos hacer que las cosas cambien favorablemente. No nos limitemos a criticar, en el proceso electoral hay muchas formas en las que podemos aportar;  si usted tiene un familiar fallecido repórtelo para que no aparezca en el censo  electoral, si usted o un familiar esta enfermo o incapacitado para votar repórtelo, si su cédula está en trámite repórtela para que no aparezca en el Censo Electoral y muchas otras formas fáciles de ayudar en la búsqueda de la transparencia electoral.</p>
                                              <a routerLink="/cuenta" class="btn btn-primary btn-lg text-center">Registrarse</a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-8 mx-auto layout-spacing " id="cedulas">
                                      <div class="row">   
                                        <div class="card">
                                            <div class="card-body d-flex align-items-center">
                                              <div class="image-container mr-md-3 mb-3 mb-md-0">
                                                <img src="../assets/img/reg_cedulas.png" alt="Imagen Voluntarios Cívicos">
                                              </div>
                                              <div class="text-container">
                                                <h5 class="card-title mb-3">Registro de Cédulas inhabilitadas para votar</h5>
                                                <p>Si usted tiene un familiar fallecido, repórtelo.</p>

                                                <p>Si usted viaja y no puede votar, repórtelo.</p>
                                                
                                                <p>Si usted o un familiar está enfermo u hospitalizado, repórtelo.</p>
                                                
                                                <p>Si usted o un familiar esta inhabilitado para votar, repórtelo.</p>
                                                                                              </div>
                                            </div>
                                            <div class="card-footer px-4 pt-0 border-0">
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-8 mx-auto layout-spacing" id="censo">
                                        <div class="row">   
                                          <div class="card">
                                              <div class="card-body d-flex align-items-center">
                                                <div class="image-container mr-md-3 mb-3 mb-md-0">
                                                  <img src="../assets/img/test_electoral.png" alt="Imagen Voluntarios Cívicos">
                                                </div>
                                                <div class="text-container">
  
                                                  <h5 class="card-title mb-3">Censo Electoral</h5>
                                                  <p>El Censo Electoral es una lista general de todas las cédulas de ciudadanía de las personas supuestamente habilitadas para ejercer el derecho a votar, sin embargo se ha detectado que existen algunas inconsistencias tales como personas que han fallecido o personas que han perdido el derecho al voto etc., pero que aún continúan en esa lista.</p>

                                                  <p>La Fundación Transparencia Electoral fte.com.co mediante la utilización de procesos y herramientas, y con la información recolectada por los Voluntarios Cívicos y otras instituciones hará una verificación y denuncia de esas personas que no deban estar en el Censo Electoral pare que sean removidas antes de los procesos electorales.</p>
                                                                                                  </div>
                                                </div>
                                              <div class="card-footer px-4 pt-0 border-0">
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                    <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-8 mx-auto layout-spacing"  id="testigos">
                                      <div class="row">   
                                        <div class="card">
                                            <div class="card-body d-flex align-items-center">
                                              <div class="image-container mr-md-3 mb-3 mb-md-0">
                                                <img src="../assets/img/test_electoral.png" alt="Imagen Voluntarios Cívicos">
                                              </div>
                                              <div class="text-container">

                                                <h5 class="card-title mb-3">Testigos electorales</h5>
                                                <p>La forma más efectiva de colaborar activamente con el proceso electoral es hacerse Testigo Electoral. A la vez los testigos electorales se convertirán en veedores de las mesas de votación y por lo tanto podrán verificar la transparencia electoral en la mesa de votación que se le haya asignado, estos veedores podrán a su vez recolectar información, la cual se podrá convertir en evidencia en los casos de detectarse alguna anomalía.</p>

                                                <p>Los testigos electorales podrán pertenecer a cualquier partido político, para la Fundación Transparencia Electoral fte.com.co todos los testigos electorales de cualquier filiación política serán bienvenidos y se deberán registrar atreves del partido político de su agrado.</p>
                                                                                              </div>
                                              </div>
                                            <div class="card-footer px-4 pt-0 border-0">
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-8 mx-auto layout-spacing" id="conteo">
                                        <div class="card">
                                          <div class="card-body d-flex align-items-center">
                                            <div class="image-container mr-md-3 mb-3 mb-md-0">
                                              <img src="../assets/img/conteo_par.png" alt="Imagen Voluntarios Cívicos">
                                            </div>
                                            <div class="text-container">

                                                <h5 class="card-title mb-3">Conteo paralelo de votos</h5>
                                                <p class="card-text">Con la ayuda de los Testigos Electorales, nuestra fundación podrá hacer un conteo de votos paralelo al del sistema electoral colombiano, para luego mediante procesos de validación y verificación hacer una auditoria que permitirá detectar diferencias o inconsistencias.</p>
                                            </div>
                                          </div>

                                            <div class="card-footer px-4 pt-0 border-0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-8 mx-auto layout-spacing" id="auditoria">
                                        <div class="card">
                                          <div class="card-body d-flex align-items-center">
                                            <div class="image-container mr-md-3 mb-3 mb-md-0">
                                              <img src="../assets/img/auditoria.png" alt="Imagen Voluntarios Cívicos">
                                            </div>
                                            <div class="text-container">

                                                <h5 class="card-title mb-3">Auditoria electoral</h5>
                                                <p class="card-text">Auditoria electoral
                                                    Con la colaboración de los Testigos Electorales, sumada a la colaboración de los Voluntarios Cívicos y a  procesos de auditoría electoral desarrollados por la Fundación Transparencia Electoral  fte.com.co, se podrá verificar la información del proceso electoral confrontando la información recolectada por la fundación y los registros del sistema electoral colombiano para fortalecer el proceso democrático.
                                                    </p>
                                            </div>
                                          </div>

                                            <div class="card-footer px-4 pt-0 border-0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-8 mx-auto layout-spacing" id="pruebas">
                                        <div class="card">
                                          <div class="card-body d-flex align-items-center">
                                            <div class="image-container mr-md-3 mb-3 mb-md-0">
                                              <img src="../assets/img/pruebas.png" alt="Imagen Voluntarios Cívicos">
                                            </div>
                                            <div class="text-container">

                                                <h5 class="card-title mb-3">Recolección de pruebas</h5>
                                                <p class="card-text">Con la participación activa de los testigos electorales, la Fundación Transparencia Electoral fte.com.co podrá recopilar evidencia de la información de los resultados de cada mesa de votación, tomando y enviando fotos de los resultados de cada una de ellas, las cuales podrán ser utilizadas posteriormente  para realizar las denuncias en los casos en los que  se detecten inconsistencias.</p>
                                            </div>
                                          </div>

                                            <div class="card-footer px-4 pt-0 border-0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-sm-8 mx-auto layout-spacing" id="judicializacion">
                                        <div class="card">
                                          <div class="card-body d-flex align-items-center">
                                            <div class="image-container mr-md-3 mb-3 mb-md-0">
                                              <img src="../assets/img/judicial.png" alt="Imagen Voluntarios Cívicos">
                                            </div>
                                            <div class="text-container">

                                                <h5 class="card-title mb-3">Judicialización</h5>
                                                <p class="card-text">Como resultado de todos los procesos de auditoría y recolección de pruebas, la Fundación Transparencia Electoral fte.com.co, directamente podrá hacer las respectivas denuncias. En muchos casos en los cuales se han detectado inconsistencias en el proceso electoral, las personas quienes detectan no denuncian por lo engorroso que para ellos es el proceso de denunciar y por ende, la Fundación Transparencia Electoral fte.com.co directamente hará dichas denuncias.</p>
                                            </div>
                                          </div>

                                            <div class="card-footer px-4 pt-0 border-0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    </div>

                </div>

            </div>
            

        </div>

        <div class="footer-wrapper">
            <div class="footer-section f-section-1">
                <p class="">Copyright © <span class="dynamic-year">2023</span> <a target="_blank" > Diseñado por</a>, All rights reserved.</p>
            </div>
            <div class="footer-section f-section-2">
                <p class="">Codificado con el <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
            </div>
        </div>
        
    </div>
    <!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->
