<div class="login-page">
    <div class="form" *ngIf="form1">
      <form [formGroup]="paso1Form" (ngSubmit)="onSubmitPaso1()">
        <input formControlName="correoElectronico" type="text" placeholder="Correo Electronico"/>
        <button type="submit">Siguiente</button>
        <p class="message">Ya eres Voluntario? <a routerLink="/cuenta" >Iniciar Sesion</a></p>
      </form>
    </div>
    <div class="form" *ngIf="form2">
        <p>Necesitamos verificar tu identidad, por eso hemos enviado un codigo a tu correo electronico para continuar por favor digitalo a continuacion</p>
        <form [formGroup]="paso2Form" (ngSubmit)="onSubmitPaso2()">
          <input formControlName="codigoOTP" type="text" placeholder="Codigo OTP"/>
          <button type="submit">Siguiente</button>
          <p class="message">Ya eres Voluntario? <a routerLink="/cuenta" >Iniciar Sesion</a></p>
        </form>
      </div>
      <div class="form" *ngIf="form3">
        <form [formGroup]="paso3Form" (ngSubmit)="onSubmitPaso3()">
          <input formControlName="CC" type="text" placeholder="CC"/>
          <input formControlName="nombre" type="text" placeholder="Nombre"/>
          <input formControlName="telefono" type="text" placeholder="Telefono"/>
          <input formControlName="direccion" type="text" placeholder="direccion"/>
          <button type="submit">Registrarse</button>
          <p class="message">Ya eres Voluntario? <a routerLink="/cuenta" >Iniciar Sesion</a></p>

        </form>
      </div>
      <!-- Sección de mensaje final -->
<div *ngIf="finalizado">
    <h2 style="text-align: center; margin-top: 50px; font-weight: lighter;">
      Pronto serás contactado por correo electrónico sobre tu aprobación como voluntario. Agradecemos tu interés.
    </h2>
  </div>
  </div>